<div>
    <div class="center-content">
        <h1>About Billie Eilish</h1>
    </div>
<div class="center-content">
    <p class="smaller-p">
        Billie Eilish Pirate Baird O'Connell (born December 18, 2001) is an American singer and songwriter. She first gained public attention in 2015 with her debut single "Ocean Eyes", which was subsequently released by Darkroom, a subsidiary of Interscope Records. 
        The song was written and produced by her brother, Finneas O'Connell, with whom she frequently collaborates on music and in live shows. Her debut extended play, Don't Smile at Me (2017), was commercially successful and charted within the top 15 in the US, UK, Canada, and Australia.
    </p>
</div>
<div class="center-content">
    <p class="smaller-p">
        Eilish's first studio album, When We All Fall Asleep, Where Do We Go? (2019), debuted atop the US Billboard 200 and reached number one in the UK. It was one of the best-selling albums of 2019, buoyed by the success of its fifth single and Eilish's first number-one hit on the Billboard Hot 100, "Bad Guy". 
        In 2020, she co-wrote and performed the theme song "No Time to Die" for the James Bond film of the same name, which topped the UK singles chart. Her next singles "Everything I Wanted", "My Future", "Therefore I Am", and "Your Power" each peaked within the top 10 in the US and UK; her sophomore album, Happier Than Ever (2021), 
        reached number one in 25 countries.Eilish has received several accolades, including seven Grammy Awards, two American Music Awards, one Guinness World Record, three MTV Video Music Awards, and two Brit Awards. 
        She is the youngest artist in Grammy history and second overall to win all four general field categories—Best New Artist, Record of the Year, Song of the Year, and Album of the Year—in the same year. She was named in Time magazine's inaugural Time 100 Next list in 2019, and made it into the main Time 100 list in 2021.[2] 
        According to the RIAA and Billboard, Eilish is the 26th-highest-certified digital singles artist[3] and one of the most successful artists of the 2010s.
    </p>
</div>