<div>
    <div class="center-content">
        <h1>Billie Eilish</h1>
    </div>  
    <div class="center-content">
        <img src="https://vegnews.com/media/W1siZiIsIjIyMjU1L1ZlZ05ld3MuQmlsbGllRWlsaXNoNS5qcGciXSxbInAiLCJjb252ZXJ0IiwiLWNyb3AgMTIzMng3MjgrMCs0OSArcmVwYWdlIC1yZXNpemUgMTYwMHg5NDZeIix7ImZvcm1hdCI6ImpwZyJ9XSxbInAiLCJvcHRpbWl6ZSJdXQ/VegNews.BillieEilish5.jpg?sha=cf3e5bb952b20987">
    </div>
    <div class="center-content">
        <p>
            Billie Eilish is an American singer and songwriter, with numerous awards and is one of the most successful artists of the 2010s, according to RIAA and Billboard. 
        </p>
    </div>
</div>