<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BE Happier Than Ever</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div>
            <nav class="nav-bar">
                <a href="/">Home</a>
                <a href="/about">About Billie</a>
                <a href="/works">Billie's Works</a>
            </nav>
        </div>
        {{{body}}}
        <script src="/index.js"></script>
    </body>
</html>