<div>
    <div class="center-content">
        <h1>Billie's Works</h1>
    </div>
    <div class="center-content">
        <h2>Billie's Albums</h2>
    </div>
    <div class="center-content">
        <ul>
            <li>
                "When We Fall Asleep, Where Do We Go?" - 2019
            </li>
            <li>
                "Happier Than Ever" - 2021
            </li>
        </ul>
    </div>
    <div class="center-content">
        <h2>Billie's Hit Singles</h2>
    </div>
    <div class="center-content">
        <ul>
            <li>
                "You Should See Me In A Crown" - 2018
            </li>
            <li>
                "Bad Guy" - 2019
            </li>
            <li>
                "Everything I Wanted" - 2019
            </li>
            <li>
                "No Time To Die" - 2020
            </li>
            <li>
                "Therefore I Am" - 2020
            </li>
        </ul>
    </div>
</div>